.custom_btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
}

.custom_btn:hover {
    color: #ffc200;
}

.custom_btn.custom_btn_bg {
    background: #474559;
    color: #ffffff;
}

.custom_btn.custom_btn_bg:hover {
    background: #ffc200;
    color: #ffffff !important;
}

.contact_form {
    position: relative;
}

.contact_form .form_control {
    background: transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    margin: 16px 0;
}

.contact_form .form_control:not(textarea) {
    height: 48px;
}

.contact_form .form_control:hover,
.contact_form .form_control:focus {
    border-color: #ffc200;
}

.contact_form .submit_btn {
    background: #ffc200;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 13px 79px;
    font-size: 19px;
    line-height: normal;
    overflow: hidden;
}

.contact_form .submit_btn:hover {
    background: #474559;
}

.contact_info {
    background: #474559;
    border-radius: 0 0 3px 3px;
    position: relative;
    bottom: 8px;
}

.contact_info p,
.contact_info a {
    color: #f7f3f3;
}