@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    font-family: "Maven Pro", sans-serif;
    padding-top: 70px;
}

.full-screen {
    padding: 8rem 0;
}

.small_text {
    color: #5b5b5b;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    font-weight: normal;
    text-decoration: none !important;
    transition: all 0.4s ease;
}

a:hover {
    color: #ffc200 !important;
}

.navbar_brand .uil {
    font-size: 40px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 24px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    color: #484848;
}

h3,
b,
strong {
    font-weight: bold;
}

.custom_btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
}

.custom_btn:hover {
    color: #ffc200;
}

.custom_btn.custom_btn_bg {
    background: #474559;
    color: #ffffff;
}

.custom_btn.custom_btn_bg:hover {
    background: #ffc200;
    color: #ffffff !important;
}

.animated {
    position: relative;
}

.animated_info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 260px;
    position: relative;
}

.animated_item {
    color: #ffc200;
}

.animated_item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated_item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated_item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    will-change: transform;
    transition: transform 200ms linear;
}

.navbar[class*="-unpinned"] {
    transform: translate(0, -150%);
}

.navbar[class*="-pinned"] {
    transform: translate(0, 0);
}

.navbar[class*="headroom--not-top"] {
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar_brand {
    font-weight: bold;
}

.navbar_expand_sm .navbar_nav .nav_link {
    padding: 0 20px;
}

.nav_link {
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
}

.nav_link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
}

.nav_link span:before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
}

.navbar_light .navbar_nav .nav_link:focus,
.navbar_light .navbar-nav .nav_link:hover {
    color: #ffc200;
    font-weight: bold;
}

.navbar_light .navbar_nav .nav_link:focus span,
.navbar_light .navbar_nav .nav_link:hover span {
    transform: translateY(-100%);
}

.navbar_light .navbar_toggler_icon {
    background: none;
}

.navbar_toggler {
    border: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.navbar_toggler:focus {
    outline: none;
}

.navbar_toggler[aria-expanded="true"] .navbar_toggler_icon:first-child {
    transform: rotate(45deg);
    top: 6px;
}

.navbar_toggler[aria-expanded="true"] .navbar_toggler_icon:nth-child(2) {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar_toggler_icon:last-child {
    transform: rotate(-45deg);
    bottom: 1px;
}

.navbar_toggler .navbar_toggler_icon {
    background: #212121;
    display: block;
    width: 100%;
    height: 2px;
    margin: 5px 0;
    transition: all 0.4s ease;
    position: relative;
}

.copyright_text {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.color_mode {
    font-weight: bold;
    cursor: pointer;
}

.color_mode_icon {
    position: relative;
    right: 6px;
}

.color_mode_icon:after {
    font-family: 'unicons';
    content: '\ea9f';
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
}

.color_mode_icon.active:after {
    font-family: 'unicons';
    content: '\eb65';
    font-size: 30px;
    color: #ffffff;
}

.dark-mode {
    background: #0c0c0d;
}

.dark-mode .navbar_light .navbar_nav .nav_link {
    color: rgba(255, 255, 255, 0.8);
}

.dark-mode .navbar_light .navbar_nav .nav_link:hover {
    color: #ffc200;
}

.dark-mode .navbar[class*="headroom--not-top"] {
    background: #0c0c0d;
    border-bottom: 1px solid #1f1f1f;
}

.dark-mode .small_text {
    background: #0d0c15;
    color: #ffffff;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar_light .navbar_brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color_mode {
    color: #ffffff;
}

.dark-mode {
    color: #ffffff;
}

.timeline-wrapper {
    position: relative;
    padding: 22px 0;
}

.timeline-wrapper:last-child:before {
    height: 0;
}

.timeline-wrapper:before {
    content: "";
    background: #474559;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 38px;
}

.timeline-yr {
    background: #474559;
    border-radius: 100%;
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

.timeline-yr span {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 75px;
}

.timeline-info {
    display: inline-block;
    vertical-align: top;
    max-width: 432px;
    margin-left: 6em;
}

.timeline-info small {
    color: #474559;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

@media (max-width: 991px) {
    .full-screen {
        padding-bottom: 4rem;
    }
    .color_mode {
        display: none;
    }
    .about_image {
        margin-top: 4em;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 2em;
    }
    .navbar_collapse {
        background: #ffffff;
        text-align: center;
        padding-bottom: 20px;
    }
    .navbar_expand_sm .navbar_nav .nav_link {
        padding: 3px 20px;
    }
}

@media (max-width: 580px) {
    .timeline-info small {
        display: block;
        margin: 10px 0 0 0;
    }
}

@media (max-width: 320px) {
    .full-screen {
        padding: 4rem 0;
    }
    .mobile_block {
        display: block;
    }
}