.button {
    background-color: #fb9a4f;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", "Segoe UI", "Roboto", "Open Sans", "Helvetica Neue", "sans-serif";
    font-size: 16px;
    font-weight: 500;
    height: 2.4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
}

.button:hover {
    box-shadow: #263c72 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button {
        padding: 0 2.6rem;
    }
}

.icon-img {
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

.reset {
    color: black;
}